*{
  padding: 0px;
  margin: 0px;
  font-family: Calibri, sans-serif;
  color: #333;
}

#introduction{
  position: fixed;
  top: 0px;
  left: 0px;
  bottom: 0px;
  right: 0px;
  background-color: rgba(0, 0, 0, 0.2);
  text-align: center;
  animation: fadeIn 1s 11.5s ease-in forwards;
  opacity: 0;
}

.fade-out{
  animation: fadeIn 1s ease-in forwards reverse;
}

@keyframes fadeIn{
  from{
    opacity: 0;
  }
  to{
    opacity: 1;
  }
}

.intro-board{
  position: relative;
  width: 35%;
  height: 70%;
  border: 30px solid #F65E3B;
  border-radius: 10px;
  margin: auto;
  margin-top: 7%;
}

.intro-board .logo-left{
  position: absolute;
  top: -83px;
  left: -160px;
  transform: rotateZ(-45deg);
}

.intro-board .logo-right{
  position: absolute;
  top: -83px;
  right: -160px;
  transform: rotateZ(45deg) rotateY(180deg);
}

.paste-left, .paste-right{
  position: absolute;
  width: 260px;
  height: 36px;
  border-radius: 10px;
  top: -38px;
  background-color: #333;
}

.paste-left{
  left: -135px;
  transform: rotateZ(-45deg);
}

.paste-right{
  right: -135px;
  transform: rotateZ(45deg);
}

.intro-info{
  height: 100%;
  display: flex;
  flex-direction: column;
  background-color: rgba(0, 0, 0, 0.9);
}

.intro-info > *{
  flex: 1;
  font-size: 20px;
  display: flex;
  align-items: center;
}

.intro-info h1{
  font-size: 30px;
}

.intro-info span{
  display: block;
  margin: auto;
  color: white;
  text-align: center;
}

.intro-button{
  position: absolute;
  width: 20%;
  padding: 10px;
  font-size: 20px;
  color: white;
  background-color: #F65E3B;
  border-radius: 10px;
  bottom: -90px;
  right: 0px;
  cursor: pointer;
}

.intro-button:hover{
  background-color: rgba(255, 255, 255, 0.1);
}




